/* ------------------------------------------Generelt for alle sidene*/
body {
  margin: 0;
  font-family: sans-serif;
  background-image: url("Bilder/NyTreLil.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 3vw;
  text-align: center;
}

h2 {
  font-family: 'Roboto Mono', monospace;
}

#navbar {
  padding: 1em;
  display: grid;
  grid-auto-columns:1fr 1fr;
}

#links {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1em;
  text-align: center;
}

#Logo {
  grid-column: 1fr;
  padding: 0;
  margin: 0;
}

a img {
  max-height: 10vh;
  max-width: 18vw;
  border-radius: 20px/20px;
}

.Link {
  font-family: 'Roboto Mono', monospace;
  text-decoration: none;
  color: #5c51a6;
  border-radius: 15px/15px;
  padding: 5% 2% 3% 2%;
  text-align: center;
  width: 10vw;
  height: 4vh;
  font-size: 2vw;
}

#links .Link:hover {
  color: #f2a71b;
}


/*----------------------------------------------------------Forside */
/* Hele sliden*/
.Slide {

}

/* Endre str på bildene*/
.Slide img {
  height: 90vh;
  width: auto;
  border-radius: 15px/15px;
}

/*Bildene i sliden*/
.slideshow-container {
  margin: 0 5%;
}

/* Dottene */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #cccccc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

#Nyheter {
  margin:2.5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#Nyheter #NyheterOverskrift {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}

.Tekst {
  grid-column: 1fr;
  display: block;
  margin-left:auto;
  margin-right: auto;
  background-color: #ede8f3;
  padding: 2%;
  grid-column: 1fr;
  border-radius: 15px/15px;
  text-align: center;
  margin-bottom: 5%;
  max-width: 25vw;
  max-height: 40vh;
}

.Tekst h2 {
  font-family:'Roboto Mono', monospace;
  font-size: 2vw;
}

.Tekst p {
  font-size: 1.25vw;
}

.NyBilde {
  height: auto;
  grid-column: 1fr;
  border-radius: 15px/15px;
  padding: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

.NyBilde img {
max-width: 25vw;
max-height: 40vh;
border-radius: 15px/15px;
}

footer {
  background: #ede8f3;
  padding: 2% 0;
  border-radius:15px/15px;
  margin: 0 5% 1%;
}

footer ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer ul li {
  grid-column: 1fr;
  list-style-type: none;
  font-family:'Roboto Mono', monospace;
  font-size: 1vw;
  text-align: center;
}

/* --------------Beskrivelse side------------------*/
/* Hele sliden*/
.Slide2 {

}

/* Endre str på bildene*/
.Slide2 img {
  width: auto;
}

/* Dottene */
.dot2 {
  height: 5px;
  width: 5px;
  margin: 0 ;
  background-color: #cccccc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #f2a71b;
}

#Beskrivelse {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 5%;
  background-color: #ede8f3;
  border-radius: 15px/15px;
  padding: 2.5%;
}

#Beskrivelse #AppOverskrift {
  grid-column-start: 1;
  grid-column-end:3;
  text-align: center;
  padding-bottom: 2.5%;
}

#Beskrivelse .BeskrivelseInfo {
  grid-column: 1fr;
  margin-left: 2.5%;
  margin-bottom: 2.5%;
  background-color: white;
  padding: 5%;
  border-radius: 15px/15px;
  font-size: 1.5vw;
  max-width: 40vw;
  display: block;
  margin-left: auto;
  margin-right:auto;
}

#Beskrivelse .BeskrivelseInfo h2 {
  text-align: center;
}

#Beskrivelse .BeskrivelseBilde {
  grid-column: 1fr;
  margin-bottom: 2.5%;
  margin-right: 2.5%;
}

#Beskrivelse .BeskrivelseInfo ul li {
 list-style-type: none;
 font-family:'Roboto Mono', monospace;
}

#Beskrivelse .BeskrivelseBilde img {
  display: block;
  max-width: 17vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px/10px;
}

/* --------------------------------------------------------For skolen side*/
#overskrift{
  text-align: center;
}

#GridData{
display: grid;
grid-template-columns: 1fr 1fr;
}

.GridDataInfo{
  grid-column: 1fr;
}


/* -----------------------------------------------------------Om Oss side*/


#OmOssOverskirft {
  text-align: center;
  margin-top: 5%;
}

#BildeOmOss {
  margin-top: 2.5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  border-radius:15px/15px;
}

.TekstOmOss {
  font-size: 1.5vw;
  background:#ede8f3;
  margin: 5%;
  padding: 2%;
  border-radius: 15px/15px;
}

.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  color: #4E41A6;
  text-decoration: underline #4E41A6;
}

/*Hele formen*/

#Hele {
  background-color: #ede8f3;
  margin: 2.5% auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  width: 50vw;
  padding: 2.5%;
  border-radius: 15px/15px;
}

#Hele h1 {
  grid-column-start: 1;
  grid-column-end: 4;

}

.Del1 {
grid-column: 1fr;
padding-bottom: 5%;
display: block;
}

.Del1 input {
  width: 12vw;
  height: 3vh;

}

#Del2 {
display: block;
grid-column-start: 1;
grid-column-end: 4;
padding: 5% 0;
}

#Del2 textarea {
  width: 40vw;
  height: 20vh;
}

#Knapp {
  font-family:'Roboto Mono', monospace;
  grid-column-start: 1;
  grid-column-end: 4;
  width: 10vw;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  padding: 2%;
  font-size: 1.5vw;

  background-color: #5c51a6;
  border-radius: 10px/10px;
  border: 1px solid #5c51a6;
}

#Knapp:active {
  background-color:#f2a71b;
  border: 1px solid #f2a71b;
}



/* --------------------------------------------------------------@media for alle sidene*/
@media screen and (max-width: 600px) {
  #Nyheter {
    grid-template-columns: 1fr;
  }
  #Nyheter #NyheterOverskrift {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  #Beskrivelse {
    grid-template-columns: 1fr;
  }

  #Beskrivelse #AppOverskrift {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  #Hele {
    grid-template-columns: 1fr;
  }

  #Hele h1 {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  #Hele .Del1 {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  #Hele #Del2 {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  #Hele #Knapp {
    grid-column-start: 1;
    grid-column-end: 2;
  }


  footer ul {
    grid-template-columns: repeat(2, 1fr);
  }

  footer ul li {
    padding-bottom: 2.5%;
  }
}
