body {
  margin: 0;
  font-family: sans-serif;
  background-image: url("Bilder/NyTreLil.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-family: 'Roboto Mono', monospace;
}

h2 {
  font-family: 'Roboto Mono', monospace;
}

#navbar {

  padding: 1em;
  display: grid;
  grid-auto-columns:1fr 1fr;

}

#links {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1em;
  text-align: center;

}

#Logo {
  grid-column: 1fr;
  padding: 0;
  margin: 0;
}

a img {
  max-height: 10vh;
  max-width: 18vw;
  border-radius: 20px/20px;
}

.Link {
  font-family: 'Roboto Mono', monospace;
  text-decoration: none;
  color: #5c51a6;
  border-radius: 15px/15px;
  padding: 5% 2% 3% 2%;
  text-align: center;
  width: 10vw;
  height: 4vh;
  font-size: 2vw;

}

#links .Link:hover {
  color: #f2a71b;
}


/* Hele sliden*/
.Slide {

}

/* Endre str på bildene*/
.Slide img {
  height: 90vh;
  width: auto;
  border-radius: 15px/15px;
}

/*Bildene i sliden*/
.slideshow-container {
  margin: 0 5%;
}

/* Dottene */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #cccccc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Hele sliden*/
.Slide2 {

}

/* Endre str på bildene*/
.Slide2 img {
  width: auto;
}

/*Bildene i sliden*/

/* Dottene */
.dot2 {
  height: 5px;
  width: 5px;
  margin: 0 ;
  background-color: #cccccc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #f2a71b;
}

#Nyheter {
  margin:2.5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Tekst {
  grid-column: 1fr;
  display: block;
  margin-left:auto;
  margin-right: auto;
  background-color: #ede8f3;
  height: 30vh;
  padding: 2%;
  grid-column: 1fr;
  border-radius: 15px/15px;
  text-align: center;
  margin-bottom: 5%;
  width: 50%;
}

.Tekst h2 {
  font-family:'Roboto Mono', monospace;
  font-size: 2vw;
}

.Tekst p {
  font-size: 1.25vw;
}

.NyBilde {
  height: auto;
  grid-column: 1fr;
  border-radius: 15px/15px;
  padding: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

.NyBilde img {
height: 30vh;
border-radius: 15px/15px;
}

#Beskrivelse {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5%;
  background-color: #ede8f3;
  border-radius: 15px/15px;
  padding: 2.5%;
}

#Beskrivelse .BeskrivelseInfo {
  grid-column: 1fr;
  margin-left: 2.5%;
  margin-bottom: 2.5%;
  background-color: white;
  padding: 5%;
  border-radius: 15px/15px;
  font-size: 1.5vw;
}

#Beskrivelse .BeskrivelseInfo h2 {
  text-align: center;
}




#Beskrivelse .BeskrivelseBilde {
  grid-column: 1fr;
  margin-bottom: 2.5%;
  margin-right: 2.5%;
}

#Beskrivelse .BeskrivelseInfo ul li {
 list-style-type: none;
 font-family:'Roboto Mono', monospace;
}



#Beskrivelse .BeskrivelseBilde img {
  display: block;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px/10px;
}
/* For skolen*/
#overskrift{
  text-align: center;
}

#GridData{
display: grid;
grid-template-columns: 1fr 1fr;
}

.GridDataInfo{
  grid-column: 1fr;
}

/* slutt skole */
.TekstOmOss {
  font-size: 1.5vw;
  background: #ede8f3;
  margin: 5%;
  padding: 2%;
  border-radius: 15px/15px;
}

#BildeOmOss {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  border-radius:15px/15px;
}

footer {
  background: #ede8f3;
  padding: 2% 0;
  border-radius:15px/15px;
  margin: 0 5% 1%;
}

footer ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer ul li {
  grid-column: 1fr;
  list-style-type: none;
  font-family:'Roboto Mono', monospace;
  font-size: 1vw;
  text-align: center;
}


.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  color: #4E41A6;
  text-decoration: underline #4E41A6;
}

.content {
  background-color: #ede8f3;
  display: block;
  margin: 5% auto 5% auto;
  padding: 2%;
  grid-column: 1fr;
  border-radius: 15px/15px;
  text-align: center;
  width: 50%;
}

/*Hele formen*/
.form {
  width: 100%;
}

.top-form {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  min-height: 65px;
  margin-left: 10px;
}

.inner-form{
  grid-column: 1fr;
}

.bottom-form {
  text-align: left;
  width: 95%;
  min-height: 65px;
  margin: 10px;
}
.form input[type=text],
.form input[type=email],
.form textarea {
  border: 2px solid #fff;
  padding: 10px 5px;
  outline: none;
  border-radius: 2px;
  width: 100%;
  transition: all 0.2s ease;
}

.form input:focus,
.form textarea:focus {
  border-color: #4E41A6;
  outline: none;
}

.bottom-form textarea {
  height: 80px;
}

#input[type=submit] {
  font-size: 1vw;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 0.2vw;
  text-transform: uppercase;
  text-align: center;
  color: white;
  background-color: #5C51A6;
  border-color: #4E41A6;
  border-radius: 5px;
  width: 100px;
  padding: 10px 0;
  cursor: pointer;
}

#input[type=submit]:hover  {
  background-color: #6B62A6;
  border-color: #5C51A6;
}
<<<<<<< HEAD
@media screen and (max-width: 700px) {
  #Nyheter {
    grid-template-columns: 1fr;
  }

  #Beskrivelse {
    grid-template-columns: 1fr;
  }


=======

.KontaktformInput {
  font-size: 0.9vw;
  font-family: 'Roboto Mono', monospace;
}

.KontaktformTekst {
  font-size: 1.3vw;
  font-family: 'Roboto Mono', monospace;
>>>>>>> 09e2ec6050f1190252c93c0903180b3f763b1a20
}
